.navbar {
  background-color: blueviolet;
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;

}

.leftnav {
  background-color: burlywood;
  flex: 9;

}

.rightnav {
  background-color: cadetblue;
  flex: 1;

}

.leftnavitems {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  right: 100px;
}

.rightnavitems {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.leftlink {
  display: inline-block;
  margin-left: 30px;
  font: 14px 'Ropa Sans',Arial,Verdana,sans-serif;
  color: white;
}

.rightlink {
  display: inline-block;
  font: 14px 'Ropa Sans',Arial,Verdana,sans-serif;
  color: white;
}

.logo {
  display: inline;
  width: 200px;
  height: 100px;
  position: relative;
  top: 39px;
  filter: grayscale(100);
  filter: brightness(100);
}

.menuicon {
  width: 30px;
  height: 18px;
  position: relative;
  top: 4px;
  filter: invert(100%);
}

.flightest {
  background-color: bisque;
  width: 100vw;
  height: 100vh;

}

.recentlaunch {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;

}

.crew {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;

}

.simulator {
  background-color: lightpink;
  width: 100vw;
  height: 100vh;

}